<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/tailwindcss.css">
    <link rel="stylesheet" href="./stylesheets/FilesCssViews/LoginPageAndRegister.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <!-- صفحة تسجيل الدخول ملاحظة هناك صفحة اخر لتسجيل الحساب -->
    <%- include('partials/register.ejs') %>


</body>
</html>