@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
.navbar{
    display: flex;
    justify-content:space-around;
    background-color: #333C46;
    padding-top:20px;
    height: 80px;
}
.navbar div ul {
    display: flex;
    margin: 5px;
}
.navbar div ul li {
    padding-left: 20px;
}

button {
    border: none;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background: #182848;
    padding: 2em 4em;
  }

  